language: python

python:
  - '3.6'

install:
  - pip install cython
  - pip install -r requirements.txt
  - pip install git+git://github.com/Leguark/scikit-image@master
  - pip install vtk
  - pip install nbval
script:

  - pytest -v notebooks/tutorials --nbval-lax --current-env --ignore-glob='ch1-6'
  - pytest
  -
before_script: # configure a headless display to test plot generation
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start