language: python
os: linux
dist: xenial

branches:
    only:
        - master
        - release

python:
  - '3.7'

before_install:
  # configure a headless display
  - git clone --depth 1 git://github.com/pyvista/gl-ci-helpers.git
  - source ./gl-ci-helpers/travis/setup_headless_display.sh

install:
  - sudo apt-get update
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update --all
  # Useful for debugging any issues with conda
  - conda info -a

  # Install and activate environment, install packages
  - conda create -q -n tenv python=$TRAVIS_PYTHON_VERSION
  - source activate tenv

  # Installs from conda-forge
  - conda install -c conda-forge python-graphviz emg3d==0.11
    discretize==0.4.13 pip matplotlib ipython six pytest pytest-cov
    pytest-mock gdal pandas==1.0.5 seaborn>=0.9 qgrid sphinx-gallery
    ipywidgets pyevtk arviz dataclasses scikit-image>=0.17
    recommonmark networkx panel setuptools mkl-service

  # Installs from anaconda
  - conda install -c anaconda libffi

  # Installs from pip
  - pip install welly pymc3 pooch

  # Install
  - pip install -e .
  # foo
  - pip install pyvista==0.24.3 --force-reinstall

  - python -c "import pyvista as pv;print(pv.Report())"

stages:
  - test
  - deploy

jobs:
  include:
      - stage: test
        script:
          - pytest -v
      - stage: deploy
        name: Deploy to GitHub Pages
       # if: (NOT type IN (pull_request)) AND (branch = sphinx-gallery) # only deploy if merging on master

        before_script:
         - cd docs
        script: pipenv run make html
        deploy:
          provider: pages # deploy on github pages
          skip_cleanup: true
          github_token: $travis_doc # defined via the Travis interface
          local_dir: docs/build/html
          on:
            branch: release
          target_branch: gh-pages
          fqdn: docs.gempy.org
cache: pip
