-r requirements.txt

# Interactive pandas
qgrid==1.3.0
# Probability
pymc3==3.8
arviz==0.10.0
# vtk plugins
pyvistaqt

# AR
pyqrcode

# Plot orientation
mplstereonet
welly
# gdal # install gdal with conda! `conda install gdal`

sklearn

# Subsurface
subsurface
