pandas
Theano>=1.0.4 # In windows use conda! This will install all the required compilers
matplotlib
numpy
pytest
seaborn>=0.9
networkx
scikit-image>=0.17
pyvista # 0.24 and 0.25 compatible
pyvistaqt # necessary for > 0.25
iPython
rasterio

